---
import Productcard from "./productcard.astro";
const { category, description } = Astro.props;

const supabaseUrl = "https://xjioilnvmmakyocqauwh.supabase.co/rest/v1";
const apikey =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqaW9pbG52bW1ha3lvY3FhdXdoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc4OTk5MzAsImV4cCI6MjA2MzQ3NTkzMH0.lJHBOdRj_eDmkVncIRtyW1Ty8UleaWHyYMXT0tNxPhs";

const response = await fetch(
  `${supabaseUrl}/Products?category=eq.${category}&select=*`,
  {
    headers: {
      apikey: apikey,
      Authorization: `Bearer ${apikey}`,
    },
  }
);

const products = await response.json();
---

<article class="margin">
  <h2>{category}</h2>
  <p>{description}</p>
  <div class="products-grid">
    {products.map((Products) => <Productcard {Products} />)}
  </div>
</article>

<style>
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 35vw));
    gap: 50px 20px; /* First value is row gap, second is column gap */
    justify-content: left;
    margin-top: 30px;
  }

  article {
    margin-bottom: 40px;
    max-width: 1200px;
    margin-top: 100px;
  }

  @media (min-width: 768px) {
    p {
      width: 58%;
    }
    .products-grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
      gap: 80px 50px; /* Increased row gap for desktop */
      justify-items: start;
    }
  }
</style>
