---
const apikey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqaW9pbG52bW1ha3lvY3FhdXdoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc4OTk5MzAsImV4cCI6MjA2MzQ3NTkzMH0.lJHBOdRj_eDmkVncIRtyW1Ty8UleaWHyYMXT0tNxPhs";
const curl = "https://xjioilnvmmakyocqauwh.supabase.co/rest/v1/Products?select=*";
const options = {
  headers: { apikey: apikey },
};
const data = await fetch(curl, options).then((res) => res.json());
console.log(data);
const { Products } = Astro.props;
---

<a href={`/product/${Products.id}`} class="product-link">
  <article>
    <h5>{Products.display_name}</h5>
    <p>Fra {Products.price_250}Kr.</p>
    <img src={Products.img1} alt={Products.display_name} />
    <p>{Products.bean}</p>
    <div class="grid_1-1-1">
      <img src={Products.icon1} alt={Products.icon1_text} />
      <img src={Products.icon2} alt={Products.icon2_text} />
      <img src={Products.icon3} alt={Products.icon3_text} />
    </div>
  </article>
</a>

<style>
  .product-link {
    text-decoration: none;
    color: inherit;
  }

  .product-link article {
    display: flex;
    flex-direction: column;
    align-items: center;

    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
    padding: 10px;
    gap: 2px; /* Reduces space between elements */
  }

  .product-link article:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  article {
    height: 220px;
    width: 158px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--beige-color); /* This helps distribute space evenly */
  }

  article h5,
  article p {
    margin: 0; /* Remove default margins */
  }

  article img {
    max-width: 90px; /* Slightly smaller main image */
    width: 100%;
  }

  .grid_1-1-1 {
    display: flex;
    gap: 5px;
    margin-top: 5px; /* Replace margin-top: auto with a fixed value */
    align-self: center; /* Center the icons container */
  }

  .grid_1-1-1 img {
    max-width: 18px; /* Slightly smaller icons */
  }

  @media (min-width: 768px) {
    article {
      height: 450px;
      width: 349px;
    }

    article img {
      max-width: 200px;
    }

    .grid_1-1-1 img {
      max-width: 35px; /* Adjust icon size for larger screens */
    }
  }
</style>
